<div class="career__sponsors-line">
	<div class="career__sponsors-line-part">
		@@for (var i = 0; i < images.length; i++) { 
			<div class="career__sponsors-line-item block_animate-show">
				<img alt=" " src="img/career/sponsors/`+images[i].src+`" alt=" ">
			</div>
		}
		@@for (var i = 0; i < images.length; i++) { 
			<div class="career__sponsors-line-item block_animate-show">
				<img alt=" " src="img/career/sponsors/`+images[i].src+`" alt=" ">
			</div>
		}
	</div>
	<div class="career__sponsors-line-part">
		@@for (var i = 0; i < images.length; i++) { 
			<div class="career__sponsors-line-item block_animate-show">
				<img alt=" " src="img/career/sponsors/`+images[i].src+`" alt=" ">
			</div>
		}
		@@for (var i = 0; i < images.length; i++) { 
			<div class="career__sponsors-line-item block_animate-show">
				<img alt=" " src="img/career/sponsors/`+images[i].src+`" alt=" ">
			</div>
		}
	</div>
</div>
