@mixin font($font_name, $file_name, $weight, $style)
	@font-face
		font-family: $font_name
		font-display: swap
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2")
		font-weight: #{$weight}
		font-style: #{$style}

@import "_fonts.sass"
@import "settings/_variables.sass"
@import "components/_containers.sass"
@import "components/_buttons.sass"
@import "sections/_top-section.sass"
@import "sections/_header.sass"

*
	margin: 0
	padding: 0
	box-sizing: border-box

body
	min-height: 100vh

	position: relative
	display: flex
	flex-direction: column
	align-items: center
	background-color: $color-bg-night-primary
	color: $color-font-night-primary
	font-family: $font-garphik

.flex-justify-center
	display: flex
	justify-content: center


