@import "settings/_variables.sass"

.case
	&-content
		background-color: #F5F5F5
		width: 100vw
		min-height: 100vh
		padding-top: 170px
		display: flex
		justify-content: center
		@include media($type: mobile)
			padding-top: 128px
		img
			border-radius: 5px
			max-width: 100%
		&-inner
			display: flex
			flex-direction: column
			overflow-x: hidden
			@include media($type: mobile)
				padding: 0 37.5px
				max-width: 375px
		&_review
			border: 0
			width: 100%
			background-color: #fff
			display: flex
			justify-content: center
			@include media($type: mobile)
				padding: 0 37.5px
		&_next-project-block
			padding: 26px 0
			width: 100%
			display: flex
			justify-content: center
			&:hover
				img
					opacity: 1
			&__image-block
				width: 342px
				height: 228px
			img
				opacity: 0
				transition: opacity .8s ease
				max-width: 100%
				transform: scale(1.2)
			@include media($type: mobile)
				padding: 0 37.5px
				&__image-block
					display: none

	&-slider
		.splide
			&__slide
				transition: width 0s 0.9s cubic-bezier(.33,1,.68,1),left 0s 0.9s,right 0s 0.9s
				@include media($type: mobile)
					margin: 0 10px
					opacity: 0.5
					display: flex
					justify-content: center
				&.is-active
					z-index: 1
					transition: width 0.9s 0s cubic-bezier(.33,1,.68,1),left 0s 0s,right 0s 0s
					@include media($type: mobile)
						opacity: 1

			&__arrows
				display: block
				@include media($type: mobile)
					display: none
			&__arrow
				display: block
				background-color: transparent
				&--prev
					transform: scaleX(-1)
				svg
					width: 24px
					height: 24px
			&__pagination
				display: none
			&__slide-number
				margin-top: 24px
				display: flex
				width: 100%
				justify-content: center
				color: var(--color-font-secondary)
				@include font($size:24, $type:med)
				@include media($type: tablet)
					margin-top: 16px
					@include font($size: 20, $type:med)
				@include media($type: mobile)
					margin-top: 8px
					@include font($size: 16, $type:med)
	&__mobile
		&-hide
			@include media($type: mobile)
				display: none
		&-show
			@include media($min-width: $m)
				display: none
	&__list
		color: #000
		font-size: 20px
		padding-left: 25px
		&--numbers
			list-style: decimal
		&--dots
			list-style: disc
		&--small
			@include media($type: mobile)
				padding-left: 20px
				font-size: 16px
	&__quote-sign
		width: 28px
		height: 28px
		transform: translateX(-50%)
		@include media($type: mobile)
			display: none
		&-wrapper
			top: 0
			width: 100%
			display: flex
			justify-content: center
			position: absolute
