<div class="card-custom card-custom_2col card_show-animate">
	<div class="card-custom-part">
		<div class="card-custom__title to-observe text_animate-show">
			<img alt=" " src='img/4_se_logo_full_loop 1.png' alt=''>
		</div>
		<div class="card-custom__text">
			<p class="to-observe text_animate-show">
				Делимся своим опытом с коллегами и компаниями.
			</p>
			<p class="to-observe text_animate-show">
				Онлайн-курсы — пожалуйста, конференции и
			</p>
			<p class="to-observe text_animate-show">
				воркшопы — будьте любезны, корпоративное
			</p>
			<p class="to-observe text_animate-show">
				обучение под ваши задачи — легко!
			</p>
		</div>
		<a class="card__link link link-primary to-observe text_animate-show">Перейти в мир обучения</a>
	</div>
</div>
