<div class="card-custom card-custom_2col card_show-animate">
	<div class="card-custom-part">
		<div class="card-custom__title">
			Работать <br> с нами <img alt=" " class='card-custom__contact-icon' src='img/icons/team.svg' alt=''>
		</div>
		<div class="card-custom__text">
			Хороших спецов днём с огнём не сыщешь. <br>
			Но мы находим их даже в других городах, <br> потому что для нас скиллы важнее расстояния!
		</div>
		<a class="card__link link link-primary">Перейти к вакансиям</a>
	</div>
</div>
