<div class="card-custom card-custom_2col card_show-animate">
	<div class="card-custom-part">
		<div class="card-custom__title to-observe text_animate-show">
			Работать <br> с нами <img alt=" " class='card-custom__contact-icon' src='img/icons/team.svg' alt=''>
		</div>
		<div class="card-custom__text">
			<p class="to-observe text_animate-show">
				Хороших спецов днём с огнём не сыщешь.
			</p>
			<p class="to-observe text_animate-show">
				Но мы находим их даже в других городах,
			</p>
			<p class="to-observe text_animate-show">
				потому что для нас скиллы важнее расстояния!
			</p>
		</div>
		<a class="card__link link link-primary to-observe text_animate-show">Перейти к вакансиям</a>
	</div>
</div>
