<header class="header @@customClass">
	<div class="header__inner container">
		<div class="header__menu">
			<div class="header__menu_left">
				<img alt=" " src="img/logo-white.svg" class="header__logo header__logo_light">
				<img alt=" " src="img/logo-black.svg" class="header__logo header__logo_dark">
				<ul class="header__menu__items">
					<li class="header__menu-item">
						<a href="/cases.html">Кейсы</a>
					</li>
					<li class="header__menu-item">
						<a href="#">Карьера</a>
					</li>
					<li class="header__menu-item">
						<a href="#">Контакты</a>
					</li>
				</ul>
			</div>
			<div class="header__menu_right">
				<button class="button button-blue button-primary open-popup" data-target="popup-request">
					Оставить заявку
				</button>
			</div>
		</div>
	</div>
</header>
@@include('_menu.html')
