
\:root
	//!BREAKPOINTS
	--xl: 1824px
	--l: 1400px
	--m: 1000px
	--s: 375px
	//!PADDINGS AND MARGINS
	--container-side-paddings: 15px
	//!COLORS
	--color-bg-primary: #1D1D1D
	--color-bg-additional: #313131
	--color-font-primary: #D7D7D7
	--color-font-secondary: #989898
	--color-font-additional: #666666
	--color-red: #FC1C2B
	--color-yellow: #FCEA1C
	--color-blue: #1C54FC
	//!FONTS
	--font-garphik: garphik
	//!BUTTONS
	--button-color-primary: #1C54FC
	--button-color-hover: #4070FF
	//!GRADIENT BORDER
	--gradient-border-width: 4px

//!BREAKPOINTS
	// Нужны для медиа запросов
$xl: 1824px
$l: 1400px
$m: 1000px
$s: 375px

//!FONTS

$font-garphik: garphik // Нужен для миксина font()
