@font-face {
  font-family: "garphik";
  font-display: swap;
  src: url("../fonts/garphik.woff") format("woff"), url("../fonts/garphik.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.container {
  padding: 0 15px;
  width: 100%;
}

.header.container {
  max-width: 1560px;
  width: 100%;
}

.btn {
  border: 0;
  border-radius: 5px;
  font-family: garphik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
  letter-spacing: 0.02em;
}

.btn-primary {
  min-width: 184px;
  min-height: 40px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.btn-blue {
  background-color: #1C54FC;
  color: #fff;
}

.top-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.top-section__content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  margin-bottom: 60px;
}

.top-section__bubbles-wrapper {
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.top-section__bubbles {
  margin-top: 60px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.top-section__bubbles_item {
  position: relative;
  margin: 0 20px;
}

.top-section__bubble-number {
  position: absolute;
  top: 0;
  right: -10px;
  color: #000000;
  background-color: #fff;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-section__bubble-number.round {
  border-radius: 50%;
}

.top-section__bubble-number.grey {
  background-color: #989898;
}

.top-section__bubble-number.yellow {
  background-color: #FCEA1C;
}

.top-section__bubble-number.red {
  background-color: #FC1C2B;
}

.top-section__title {
  margin: 50px 0;
  text-align: center;
}

.top-section__title_small {
  display: block;
  margin-bottom: 20px;
}

.top-section__title_big {
  display: block;
}

.top-section__sponsors {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow-x: hidden;
  max-width: 100%;
}

.top-section__sponsors__item {
  margin: 0 30px;
}

.top-section__sponsors__item.text {
  text-align: left;
}

.top-section__sponsors__wrapper {
  width: 100%;
  display: flex;
  justify-content: left;
  overflow-x: hidden;
}

.top-section__wrapper__item {
  width: 100%;
  display: flex;
  justify-content: center;
}

.top-section__sponsors:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1d1d1d;
  background: linear-gradient(90deg, rgba(29, 29, 29, 0) 60%, #1d1d1d 80%);
}

.top-section__scroll__wrapper {
  position: absolute;
  right: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 30px;
}

.top-section__scroll__arrow {
  position: absolute;
  width: 20px;
  height: 20px;
}

.top-section__scroll__circle {
  width: 128px;
  height: 128px;
}

.header {
  height: 80px;
}

.header__inner {
  display: flex;
  align-items: center;
  width: 100%;
}

.header_logo {
  width: 164px;
  height: 40px;
}

.header__menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: garphik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.header__menu_left {
  display: flex;
  align-items: center;
}

.header__menu__items {
  display: flex;
  list-style: none;
}

.header__menu_item {
  margin-left: 40px;
}

.header__menu_item a {
  text-decoration: none;
  color: #D7D7D7;
}

@-webkit-keyframes gradientBorder {
  0% {
    filter: hue-rotate(0);
  }

  50% {
    filter: hue-rotate(360deg);
  }

  100% {
    filter: hue-rotate(0);
  }
}

@keyframes gradientBorder {
  0% {
    filter: hue-rotate(0);
  }

  50% {
    filter: hue-rotate(360deg);
  }

  100% {
    filter: hue-rotate(0);
  }
}

.gradient-border-part {
  position: fixed;
  z-index: 10;
  -webkit-animation: gradientBorder infinite 10s;
          animation: gradientBorder infinite 10s;
}

.gradient-border-part.left {
  left: 0;
  top: -2px;
  height: calc(100vh + 2px);
  width: 4px;
}

.gradient-border-part.right {
  width: 4px;
  right: 0;
  top: -2px;
  height: calc(100vh + 4px);
}

.gradient-border-part.top {
  top: 0;
  left: -3px;
  width: calc( 100vw + 6px);
  height: 4px;
}

.gradient-border-part.bottom {
  bottom: 0;
  left: -3px;
  height: 4px;
  width: calc( 100vw + 6px);
}

.gradient-bottom-dark.left {
  position: fixed;
  left: 0;
  width: 4px;
  height: 100vh;
}

.gradient-bottom-dark.right {
  position: fixed;
  width: 4px;
  right: 0;
  height: 100vh;
}

.gradient-bottom-dark {
  z-index: 20;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 25px;
  right: 30px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 2;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #C4C4C4;
  transition-duration: .25s;
  border-radius: 11px;
}

.menu__btn > span::before {
  width: 40px;
  content: '';
  top: -8px;
  border-radius: 11px;
}

.menu__btn > span::after {
  width: 40px;
  content: '';
  top: 8px;
  border-radius: 11px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 80px 15px;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: .25s;
  z-index: 1;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1D1D1D;
  color: #D7D7D7;
  font-family: garphik;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1000px) {
  .hamburger-menu {
    display: none;
  }
}

@media screen and (min-width: 1824px) {
  .container {
    max-width: 1590px;
  }

  .header.container {
    padding: 0 55px !important;
  }

  .top-section__title_small {
    font-family: garphik;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
  }

  .top-section__title_big {
    font-family: garphik;
    font-style: normal;
    font-weight: normal;
    font-size: 160px;
    letter-spacing: -0.02em;
    line-height: 133px;
  }

  .top-section__sponsors {
    justify-content: center;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1823px) {
  .container {
    max-width: 1190px;
  }

  .header.container {
    padding-right: 55px;
    padding-left: 66px;
  }

  .top-section__title_small {
    font-family: garphik;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 44px;
  }

  .top-section__title_big {
    font-family: garphik;
    font-style: normal;
    font-weight: normal;
    font-size: 124px;
    letter-spacing: -0.02em;
    line-height: 100px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1399px) {
  .container {
    max-width: 970px;
  }

  .header.container {
    padding: 0 42px !important;
  }

  .top-section__title_big {
    line-height: 72px;
    font-family: garphik;
    font-style: normal;
    font-weight: normal;
    font-size: 76px;
  }

  .top-section__scroll__wrapper {
    bottom: 60px;
  }

  .top-section__scroll__circle {
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 0) and (max-width: 999px) {
  .container {
    width: 100vw;
  }

  .header.container {
    padding: 0 20px !important;
  }

  .top-section__content {
    padding-top: 60px;
  }

  .top-section__bubbles {
    max-width: 500px;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px;
  }

  .top-section__bubbles_item {
    margin: 0 0;
  }

  .top-section__title_big {
    font-family: garphik;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 44px;
  }

  .top-section__sponsors {
    width: 100%;
    justify-content: space-between;
    padding: 0 10px;
  }

  .top-section__sponsors__item {
    margin: 0;
    margin-right: 30px;
  }

  .top-section__sponsors__item.text {
    margin-right: 0;
    text-align: center;
  }

  .top-section__sponsors__wrapper {
    flex-wrap: wrap-reverse;
  }

  .top-section__scroll__wrapper {
    display: none;
  }

  .header {
    position: fixed;
  }

  .header_logo {
    height: 24px;
    width: 100px;
  }

  .header__menu_right {
    display: none;
  }

  .header__menu__items {
    display: none;
  }

  .gradient-border-part.left {
    height: 110vh;
  }

  .gradient-border-part.right {
    height: 110vh;
  }

  .gradient-border-part.top {
    width: 110vw;
  }

  .gradient-border-part.bottom {
    opacity: 0;
  }

  .gradient-bottom-dark {
    background: #1d1d1d;
    background: linear-gradient(180deg, rgba(29, 29, 29, 0) 70%, #1d1d1d 90%);
  }
}