@import "settings/_variables.sass"
.header
	height: 80px
	@media screen and (min-width: 0) and (max-width: $m - 1px)
		position: fixed
	&__inner
		display: flex
		align-items: center
		width: 100%
	&_logo
		width: 164px
		height: 40px
		@media screen and (min-width: 0) and (max-width: $m - 1px)
			height: 24px
			width: 100px
	&__menu
		width: 100%
		display: flex
		justify-content: space-between
		@include font($size: 16)
		&_left
			display: flex
			align-items: center
		&_right
			@media screen and (min-width: 0) and (max-width: $m - 1px)
				display: none
		&__items
			display: flex
			list-style: none
			@media screen and (min-width: 0) and (max-width: $m - 1px)
				display: none
		&_item
			margin-left: 40px
			a
				text-decoration: none
				color: $color-font-night-primary
