.text_animate-show
	overflow-y: hidden
	overflow-x: visible
	&-inner
		transform: translateY(120%)
	&.animated
		.text_animate-show-inner
			animation: animate-text-show 1200ms ease
			animation-delay: .3s
			animation-fill-mode: forwards

.block_animate-show
	opacity: 0
	transform: translateX(0) translateY(80px) translateZ(0)
	&.animated
		transition: opacity 1.2s ease 0s,transform 1.2s ease 0s
		transform: translateX(0) translateY(0) translateZ(0)
		opacity: 1
