h1, h2, h3, h4, h5, h6, p
	opacity: 0
	&.no-animation
		opacity: 1

.text_animate-show
	overflow-y: hidden
	overflow-x: visible
	opacity: 1
	&-inner
		transform: translateY(120%)
	&.animated
		.text_animate-show-inner
			animation: animate-text-show 2000ms cubic-bezier(0.19, 1, 0.22, 1)
			animation-delay: .3s
			animation-fill-mode: forwards

.block_animate-show
	opacity: 0
	transform: translateX(0) translateY(1.5rem) translateZ(0)
	&.animated
		transition: transform 2s cubic-bezier(.19,1,.22,1), opacity 2s cubic-bezier(.19,1,.22,1)
		transform: translateX(0) translateY(0) translateZ(0)
		opacity: 1

.image
	&_animation
		&-move

		&-wrapper
			border-radius: 5px
			overflow: hidden
			&.no-hidden
				overflow: visible
			.image_to-animate
				transform: scale(1.5)
				max-width: 100%
				&.image_animation-no-scale
					transition: none
					transform: scale(1)
	&_to-animate
