.audio-player
	display: flex
	position: relative
	height: 120px
	border: 2px solid #D7D7D7
	width: 100%
	border-radius: 0 5px 5px 0
	overflow: hidden
	@include media($type: mobile)
		overflow: visible
		height: 76px
		border-radius: 0
	&__button
		width: 120px
		display: flex
		justify-content: center
		align-items: center
		z-index: 1
		position: relative
		@include media($type: mobile)
			width: 76px
			background: rgba(49, 49, 49, 0.47)
		&.pause
			.audio-player__play
				transform: scale(1)
				opacity: 1
		&.play
			.audio-player__pause
				transform: scale(1)
				opacity: 1
	&__play
		background-color: transparent
		border: 0
		cursor: pointer
		position: absolute
		transition: opacity .3s ease, transform .1s ease
		transform: scale(1.1)
		opacity: 0
		@include media($type: mobile)
			svg
				width: 24px
				height: 30px
				path, rect
					fill: #fff
	&__pause
		background-color: transparent
		border: 0
		cursor: pointer
		position: absolute
		transition: opacity .3s ease, transform .1s ease
		transform: scale(1.1)
		opacity: 0
		@include media($type: mobile)
			svg
				width: 24px
				height: 30px
				path, rect
					fill: #fff
	&__image-wrapper
		width: 120px
		height: 100%
		border-left: 2px solid #D7D7D7
		border-right: 2px solid #D7D7D7
		img
			width: 100%
			height: 100%
			object-fit: cover
		@include media($type: mobile)
			width: 76px
			position: absolute
			left: 0
	&__info
		flex: 1 1 auto
		display: flex
		flex-direction: column
		justify-content: center
		height: 100%
		padding-left: 32px
		@include media($min-width: $l)
			width: 0
		@include media($type: tablet)
			height: auto
		@include media($type: mobile)
			padding: 12px 0 12px 20px
			.text
				line-height: 16px
			.text-primary
				@include font($size: 12, $type: med)
		p
			color: #D7D7D7
	&__content
		display: flex
		flex: 1 1 auto
		background-color: #313131
		@include media($type: tablet)
			padding-top: 20px
			padding-bottom: 20px
			flex-wrap: wrap-reverse
	&__progress
		flex: 1 1 auto
		height: 100%
		display: flex
		flex-direction: column
		justify-content: center
		input
			position: relative
			-webkit-appearance: none
			width: 100%
			margin: 0
			padding: 0
			height: 8px
			float: left
			outline: none
			background-color: transparent
			@include media($type: mobile)
				height: 4px
		input::-webkit-slider-runnable-track
			width: 100%
			height: 8px
			border-radius: 76px
			cursor: pointer
			background: #FFFFFF
			box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25)
			@include media($type: mobile)
				border-radius: 0
				height: 4px
				box-shadow: inset 0px 4px 4px #fff
		input::before
			position: absolute
			content: ""
			top: 0
			border-radius: 76px 0 0 76px
			left: 0
			width: var(--seek-before-width)
			height: 8px
			background-color: #007db5
			cursor: pointer
			@include media($type: mobile)
				height: 4px
				border-radius: 0
		// Chrome
		input::-webkit-slider-thumb
			position: relative
			-webkit-appearance: none
			box-sizing: content-box
			height: 15px
			width: 15px
			border-radius: 50%
			background-color: #1C54FC
			cursor: pointer
			margin: -3px 0 0 0
			@include media($type: mobile)
				display: none

		input:active::-webkit-slider-thumb
			transform: scale(1.2)
			background: #007db5
		//Mozilla
		input::-moz-range-track
			width: 100%
			height: 8px
			cursor: pointer
			border-radius: 76px
			background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width))
			background: #FFFFFF
			box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25)
			@include media($type: mobile)
				border-radius: 0
				height: 4px
				box-shadow: inset 0px 4px 4px #fff

		input::-moz-range-progress
			height: 8px
			border-radius: 76px 0 0 76px
			background-color: #007db5
			@include media($type: mobile)
				border-radius: 0
				height: 4px

		input::-moz-focus-outer
			border: 0

		input::-moz-range-thumb
			box-sizing: content-box
			height: 15px
			width: 15px
			border: 0
			border-radius: 50%
			cursor: pointer
			background: #1C54FC
			@include media($type: mobile)
				display: none

		input:active::-moz-range-thumb
			transform: scale(1.2)
			background: #1C54FC
	&__timeline
		display: flex
		flex: 1 1 auto
		@include media($type: tablet)
			width: 100%
			padding-left: 32px
		@include media($type: mobile)
			position: absolute
			left: 0
			top: -4px
			width: 100%
	&__duration
		height: 100%
		display: flex
		flex-direction: column
		justify-content: center
		color: #D7D7D7
		padding-right: 26px
		padding-left: 20px
		border-radius: 0 5px 5px 0
		@include font($size: 14, $type:reg)
		@include media($type: mobile)
			display: none
