@import "settings/_variables.sass"
.btn
	border: 0
	border-radius: 5px
	@include font($size: ui)

.btn-primary
	min-width: 184px
	min-height: 40px
	font-size: 14px
	line-height: 16px
	text-transform: uppercase
	letter-spacing: 0.05em

.btn-blue
	background-color: $color-blue
	color: #fff
