.card-custom
	display: flex
	background-color: #fff
	border-radius: 60px
	padding: 40px 60px 60px 60px
	max-width: 100%
	@include media($type: mobile)
		padding: 40px 24px
		border-radius: 32px
	&__title
		color: #000
		@include font($size:60, $type:med)
		@include media($type: mobile)
			@include font($size:36, $type:med)
			line-height: 36px
		img
			max-width: 100%
	&-part
		display: flex
		flex-direction: column
		&__item
			display: flex
			flex-direction: column
			flex-wrap: wrap-reverse
			a
				text-decoration: none
				color: #000
				@include font($size: 28, $type:med)
				@include media($type: tablet)
					@include font($size:24, $type:med)
				@include media($type: mobile)
					@include font($size:20, $type:med)

			&-title
				margin-bottom: 20px
				color: var(--color-font-secondary)
				@include font($size:20, $type:med)
				@include media($type: tablet)
					@include font($size: 16, $type:med)
				@include media($type: mobile)
					margin-bottom: 20px
					@include font($size:14, $type:med)

			&-inner
				display: flex
				flex-direction: row
				justify-content: space-between
				a
					height: 32px
				@include media($type: mobile)
					flex-direction: column

			&-block
				width: 50%
				display: flex
				flex-direction: column
				@include media($type: mobile)
					width: 100%
				span
					color: var(--color-font-secondary)
					@include font($size:14)
					line-height: 20px
					margin-top: 4px
					@include media($type: tablet)
						margin-top: 8px
						color: #000000
						@include font($size: 12)
					@include media($type: mobile)
						color: #000000
						@include font($size: 12)

	&__contact-icon
		transform: translateY(8px)
		@include media($type: mobile)
			width: 32px
			height: 32px
	&__text
		color: #000000
		@include font($size:20, $type:med)
