@import "settings/_variables.sass"

@keyframes animate-card-show
	0%
		transform: translateY(200px)
	70%
		animation-timing-function: ease-in-out
		transform: translateY(-50px)
	100%
		transform: translateY(0)

.card
	position: relative
	width: 360px
	margin: 20px
	overflow: hidden
	border-radius: 5px
	a
		text-decoration: none
	@include media($type: tablet)
		margin: 16px
		width: 292px
	@include media($type: mobile)
		width: calc( 100% - 40px )
	img
		max-width: 100%
		object-fit: contain
	&_show-animate
		opacity: 0
		// transform: translateY(400px)
		transition: opacity 1s linear
		&.shown
			animation: animate-card-show .4s ease-out
			transform: none
			opacity: 1
	&-layout
		display: flex
		flex-direction: column
		width: 1200px
		@include media($type: tablet)
			width: 940px
		@include media($type: mobile)
			width: 340px
	&-row
		display: flex
		flex-direction: column
		flex-wrap: wrap
		&--1
			max-height: 1400px
			@include media($type: tablet)
				max-height: 1200px
			@include media($type: mobile)
				max-height: none
		&--2
			margin: 0 20px
		&--3
			flex-direction: row
			margin-top: 20px
			@include media($type: tablet)
				flex-wrap: nowrap
		&--4
			flex-direction: row
			@include media($type: tablet)
				flex-wrap: nowrap
	&__mobile-link
		display: none
		@include font($size:20)
		margin-top: 40px
		@include media($type: mobile)
			display: block
	&-col
		@include media($type: mobile)
			width: 100%
		&-x2
			width: 66.6%
			@include media($type: mobile)
				width: 100%
		&__item
			display: flex
			flex-direction: row
			justify-content: space-between
			@include media($type: mobile)
				flex-wrap: wrap
	&__text
		position: absolute
		bottom: 30px
		color: #fff
		text-decoration: none
		display: block
		max-height: 0
		opacity: 0
		z-index: 2
		transition: max-height .3s ease-in-out, opacity .2s linear
		@include font($size: 24, $type:med)
		@include media($type: mobile)
			position: static
			margin-top: 12px
			max-height: 28px
			opacity: 1
			display: block
	&__image
		transition: transform .2s ease-in-out
		width: 100%
	&::after
		content: ""
		width: 100%

	&:hover
		@include media($min-width: $m)
			.card__text
				opacity: 1
			.card__image, .card-slider, .card-inner
				transform: translateY(-35px)

	&-slider
		position: relative
		transition: transform .2s ease-in-out
		.splide
			&__pagination
				&__page
					font-weight: 700
					margin: 2px
					opacity: 1
					&.is-active
						transform: none
						background-color: var(--color-blue)
			&__arrow
				display: none
			&__slide-number
				color: #fff
				position: absolute
				top: 16px
				right: 16px
				z-index: 10
				border-radius: 60px
				width: 40px
				height: 32px
				display: flex
				justify-content: center
				align-items: center
				background: rgba(29, 29, 29, 0.6)
	&-video
		position: relative
		&__duration
			position: absolute
			right: 14px
			top: 16px
			z-index: 1
			@include font($size:ui)
			font-weight: 700
			filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.35))
	&-inner
		transition: transform .2s ease-in-out
		img
			width: 100%
