@import "settings/_variables.sass"

.flexbox-grid-block
	width: 100%
	display: flex
	flex-wrap: wrap
	position: relative
	&--1
		& > *
			width: 100%
	&--2
		& > *
			width: calc(50% - 20px)
			&:nth-child(odd)
				margin-right: 20px
			&:nth-child(even)
				margin-left: 20px
			@include media($type: tablet)
				width: calc(50% - 10px)
				&:nth-child(odd)
					margin-right: 10px
				&:nth-child(even)
					margin-left: 10px
			@include media($type: mobile)
				width: 100%
				&:nth-child(odd)
					margin-right: 0
				&:nth-child(even)
					margin-left: 0
	&--3
		& > *
			width: calc(100%/3 - 80px/3)
			&:nth-child(3n+1)
				margin-right: 20px
			&:nth-child(3n+2)
				margin-left: 20px
				margin-right: 20px

			&:nth-child(3n+3)
				margin-left: 20px
			@include media($type: tablet)
				width: calc(100%/3 - 40px/3)
				&:nth-child(3n+1)
					margin-right: 10px
				&:nth-child(3n+2)
					margin-left: 10px
					margin-right: 10px
				&:nth-child(3n+3)
					margin-left: 10px
			@include media($type: mobile)
				width: 100%
				&:nth-child(3n+1)
					margin-right: 0
				&:nth-child(3n+2)
					margin-left: 0
					margin-right: 0
				&:nth-child(3n+3)
					margin-left: 0
	&--1-2
		& > *
			&:nth-child(2n+1)
				width: calc(100%/3 - 40px/2)
				margin-right: 20px
			&:nth-child(2n+2)
				width: calc((100%/3)*2 - 40px/2)
				margin-left: 20px
			@include media($type: mobile)
				&:nth-child(2n+1)
					width: 100%
					margin-right: 0
				&:nth-child(2n+2)
					width: 100%
					margin-left: 0

	& > *
		max-width: 100%

	&--space-between
		display: flex
		justify-content: space-between
	&--space-around
		display: flex
		justify-content: space-around
	&--split
		display: flex
		flex-direction: row
		flex-wrap: wrap
		& > *
			width: calc(50% - 10px)
			&:nth-child(odd)
				margin-right: 10px
			&:nth-child(even)
				margin-left: 10px
			@include media($type: mobile)
				width: 100%
				margin-bottom: 24px
				&:nth-child(odd)
					margin-right: 0
				&:nth-child(even)
					margin-left: 0
				&:last-child
					margin-bottom: 0
		&.no-mobile
			& > *
				width: calc(50% - 5px)
				&:nth-child(odd)
					margin-right: 5px
				&:nth-child(even)
					margin-left: 5px
		&.mobile-unset
			& > *
				width: auto
				&:nth-child(odd)
					margin-right: 0
				&:nth-child(even)
					margin-left: 0

	&--last-element-bottom
		display: flex
		flex-direction: column
		& > *:nth-last-child(2)
			flex: 1 1 auto
