@import "settings/_variables.sass"
$gradient-border-width: 3px
.gradient-border
	border-width: $gradient-border-width
	position: relative
	background: $color-bg-night-primary
	border-radius: $gradient-border-width

.gradient-border::after
	position: absolute
	content: ""
	top: (-1 * $gradient-border-width)
	left: (-1 * $gradient-border-width)
	z-index: -1
	width: calc(100% + 3px * 2)
	height: calc(100% + 3px * 2)
	background: linear-gradient(60deg,hsl(224, 85%, 66%),hsl(269, 85%, 66%),hsl(314, 85%, 66%),hsl(359, 85%, 66%),hsl(44, 85%, 66%),hsl(89, 85%, 66%),hsl(134, 85%, 66%),hsl(179, 85%, 66%))
	background-size: 300% 300%
	background-position: 0 50%
	border-radius: (2 * $gradient-border-width)
	animation: moveGradient 4s alternate infinite

@keyframes moveGradient
	50%
		background-position: 100% 50%

@keyframes gradientBorder
	0%
		filter: hue-rotate(0)
	50%
		filter: hue-rotate(360deg)
	100%
		filter: hue-rotate(0)

.gradient-border-part
	position: fixed
	z-index: 1000
	animation: gradientBorder infinite 10s
	&.left
		left: 0
		top: 0
		height: 100vh
	&.right
		right: 0
		top: 0
		height: 100vh
	&.top
		top: 0
		left: 0
		width: 100vw
		height: 5px
		@media screen and (min-width: 0) and (max-width: $m - 1px)
			width: 105vw
	&.bottom
		bottom: 0
		left: 0
		width: 100vw
