@import "settings/_variables.sass"
$gradient-border-width: 4px

@keyframes gradientBorder
	0%
		filter: hue-rotate(0)
	50%
		filter: hue-rotate(360deg)
	100%
		filter: hue-rotate(0)

.gradient-border-part
	position: fixed
	z-index: 10
	animation: gradientBorder infinite 10s
	&.left
		left: 0
		top: -2px
		// height: calc(100vh + 10px)
		height: calc(100vh + 2px)
		width: $gradient-border-width
		@media screen and (min-width: 0) and (max-width: $m - 1px)
			height: 110vh
	&.right
		width: $gradient-border-width
		right: 0
		top: -2px
		// height: calc(100vh + 10px)
		height: calc(100vh + 4px)
		@media screen and (min-width: 0) and (max-width: $m - 1px)
			height: 110vh
	&.top
		top: 0
		left: -3px
		// width: calc( 100vw + 20px )
		width: calc( 100vw + 6px )
		height: $gradient-border-width
		@media screen and (min-width: 0) and (max-width: $m - 1px)
			width: 110vw
	&.bottom
		bottom: 0
		left: -3px
		height: $gradient-border-width
		width: calc( 100vw + 6px )
		@media screen and (min-width: 0) and (max-width: $m - 1px)
			opacity: 0

.gradient-bottom-dark.left
	position: fixed
	left: 0
	width: $gradient-border-width
	height: 100vh

.gradient-bottom-dark.right
	position: fixed
	width: $gradient-border-width
	right: 0
	height: 100vh

.gradient-bottom-dark
	z-index: 20
	@media screen and (min-width: 0) and (max-width: $m - 1px)
		background: rgb(29,29,29)
		background: linear-gradient(180deg, rgba(29,29,29,0) 70%, rgba(29,29,29,1) 90%)
