@keyframes animate-border-1
	0%
		transform-origin: right
		transform: scale(1)
	50%
		transform: scale(0)
	100%
		transform-origin: left
		transform: scale(1)

@keyframes animate-border-2
	0%
		transform-origin: right
		transform: scale(1)
	50%
		transform: scale(0)
	100%
		transform-origin: left
		transform: scale(1)

@keyframes animate-border-3
	0%
		transform-origin: right
		transform: scale(1)
	50%
		transform: scale(0)
	100%
		transform-origin: left
		transform: scale(1)

@keyframes animate-border-4
	0%
		transform-origin: right
		transform: scale(0)
	100%
		transform-origin: left
		transform: scale(1)

.input
	&-primary
		background-color: #F9F9F9
		border: 0
		text-indent: 20px

		min-height: 40px
		border-radius: 5px 5px 0 0
		color: var(--color-font-secondary)
		transition: .2s
		@include font($size: 16px)
	&-wrapper
		position: relative
		label
			position: absolute
			left: 20px
			top: 20px
			color: #666666
			transition: .1s
			pointer-events: all
			@include font($size: 16)
		input
			position: relative
			color: #000
			&:focus ~ .input-underline, &:not(:placeholder-shown) ~ .input-underline
				&::after
					border-bottom: 2px solid var(--color-blue)
					animation: animate-border-1 .3s cubic-bezier(.65,.05,.36,1)
			&:focus ~ .input-label, &:not(:placeholder-shown) ~ .input-label
				top: 0
				@include font($size: 10)
			&:not(:focus):not(:valid):not(:placeholder-shown)
				& ~ .input-error-icon, & ~ .input-error-text
					display: block
				& ~ .input-underline
					&::after
						border-bottom: 2px solid var(--color-red)
						animation: animate-border-2 .3s cubic-bezier(.65,.05,.36,1)
			&:not(:focus):valid:not(:placeholder-shown)
				& ~ .input-success-icon
					display: block
				& ~ .input-underline
					&::after
						border-bottom: 2px solid var(--color-green)
						animation: animate-border-3 .3s cubic-bezier(.65,.05,.36,1)
			&:not(:focus)
				& ~ .input-underline
					&::after
						animation: animate-border-4 .3s cubic-bezier(.65,.05,.36,1)
	&-underline
		position: relative
		width: 100%
		transition: .1s
		&:after
			content: ""
			border-bottom: solid 2px #666666
			position: absolute
			bottom: 0
			left: 0
			width: 100%
			transform-origin: right
			transform: scaleX(1)

	&-error-text
		display: none
		position: absolute
		bottom: -25px
		left: 0
		color: var(--color-red)
		@include font($size: 16)
	&-success-icon, &-error-icon
		display: none
		position: absolute
		right: 20px
		top: 25px
