@keyframes animate-border-1
	0%
		transform-origin: right
		transform: scale(1)
	50%
		transform: scale(0)
	100%
		transform-origin: left
		transform: scale(1)

@keyframes animate-border-2
	0%
		transform-origin: right
		transform: scale(1)
	50%
		transform: scale(0)
	100%
		transform-origin: left
		transform: scale(1)

@keyframes animate-border-3
	0%
		transform-origin: right
		transform: scale(1)
	50%
		transform: scale(0)
	100%
		transform-origin: left
		transform: scale(1)

@keyframes animate-border-4
	0%
		transform-origin: right
		transform: scale(0)
	100%
		transform-origin: left
		transform: scale(1)

.input
	&-primary
		background-color: #E9E9E9
		border: 0
		text-indent: 20px
		min-height: 40px
		border-radius: 5px 5px 0 0
		color: var(--color-font-secondary)
		transition: .2s
		@include font($size: 16)
	&-wrapper
		position: relative
		label
			position: absolute
			left: 20px
			top: 20px
			color: var(--color-font-additional-night)
			transition: .1s
			pointer-events: none
			@include font($size: 16)
		input
			position: relative
			color: #000
			transition: background-color .2s ease
			//! DEFAULT
			&:focus ~ .input__underline, &:not(:placeholder-shown) ~ .input__underline
				&::after
					border-bottom: 2px solid var(--color-blue)
					animation: animate-border-1 .3s cubic-bezier(.65,.05,.36,1)
			&:focus ~ .input__label, &:not(:placeholder-shown) ~ .input__label
				top: 0
				@include font($size: 10)

			//! ERROR
			&:not(:focus):not(:valid):not(:placeholder-shown)
				background-color: #FFE8EA
				& ~ .input__error-icon, & ~ .input__error-text
					display: block
				& ~ .input__underline
					&::after
						border-bottom: 2px solid var(--color-red)
						animation: animate-border-2 .3s cubic-bezier(.65,.05,.36,1)
			//! VALID
			&:not(:focus):valid:not(:placeholder-shown)
				& ~ .input__success-icon
					display: block
				& ~ .input__underline
					&::after
						border-bottom: 2px solid var(--color-green)
						animation: animate-border-3 .3s cubic-bezier(.65,.05,.36,1)
			//! UNFOCUSED
			&:not(:focus)
				& ~ .input__underline
					&::after
						animation: animate-border-4 .3s cubic-bezier(.65,.05,.36,1)
	&__underline
		position: absolute
		bottom: 0
		width: 100%
		transition: .1s
		&:after
			content: ""
			border-bottom: solid 2px #666666
			position: absolute
			bottom: 0
			left: 0
			width: 100%
			transform-origin: right
			transform: scaleX(1)

	&__error-text
		display: none
		position: absolute
		bottom: -29px
		left: 0
		color: var(--color-red)
		@include font($size: 16)
	&__success-icon, &__error-icon
		display: none
		position: absolute
		right: 20px
		top: 25px
