.link
	cursor: pointer
	text-decoration: none
	color: var(--button-color-primary)
	transition: .2s
	&:hover
		color: var(--button-color-hover)
	&-primary
		@include font($size: 28, $type:med)

	&-small
		@include font($size: 16, $type:med)
		color: var(--button-color-primary)
		&:hover
			color: var(--button-color-hover)
	&-light
		@include font($size: 16, $type:med)
		color: var(--color-font-secondary)
