@import "settings/_variables.sass"

.popup
	position: fixed
	width: 100vw
	height: 100vh
	top: 0
	left: 0
	z-index: 1000
	overflow-x: hidden
	overflow-y: auto
	transition: .2s
	opacity: 1
	background-color: rgba(0, 0, 0, 0.7)
	padding: 64px 140px
	@include media($type: mobile)
		padding: 0
	&_hide
		opacity: 0
		display: none
	&-body
		position: relative
		max-width: 1560px
		margin: auto
		border-radius: 60px
		background-color: #F5F5F5
		@include media($type: mobile)
			margin: 0
			border-radius: 0
			height: 100%
	&-video, &-image
		max-width: 100%
	&__title-wrapper
		display: flex
		align-items: center
		justify-content: space-between
		border-radius: 60px 60px 0 0
		padding: 0 60px
		background-color: #fff
		min-height: 144px
		border-bottom: 2px solid #D7D7D7
		@include media($type: mobile)
			border-radius: 0
			padding: 0 33px
			min-height: 133px

	&__title
		color: #000
		@include font($size: 60, $type:med)
		@include media($type: mobile)
			@include font($size: 40, $type:med)
	&__content
		padding: 0 60px
		padding-top: 40px
		padding-bottom: 48px
		display: flex
		flex-direction: column
		@include media($type: mobile)
			padding-left: 33px
			padding-right: 33px
			padding-top: 40px
	&__close
		cursor: pointer
		path
			transition: .1s
		&:hover
			path
				fill: var(--color-blue)
	&-card
		display: flex
		justify-content: center
		align-items: center
		&.popup_hide
			display: none
		.popup-body
			background-color: transparent
			max-width: 90%
			max-height: 90%
			@include media($type: mobile)
				max-width: 80%
		video
			max-width: 100%
			max-height: 100%
		.popup__close
			position: absolute
			top: -30px
			right: -30px
			@include media($max-width: $l)
				width: 16px
				height: 16px
				top: -20px
				right: -20px
			path
				fill: #fff
			&:hover
				path
					fill: var(--color-blue)
.open-popup
	cursor: pointer
