@import "settings/_variables.sass"

.popup
	position: fixed
	width: 100vw
	height: 100vh
	top: 0
	left: 0
	z-index: 1000
	overflow-x: hidden
	overflow-y: auto
	background-color: rgba(0, 0, 0, 0.7)
	padding: 64px 140px
	transition: all .3s
	visibility: hidden
	opacity: 0
	@include media($type: mobile)
		padding: 0
	&_hide
		pointer-events: none
	&_open
		opacity: 1
		visibility: visible
	&-body
		position: relative
		max-width: 1560px
		margin: auto
		border-radius: 60px
		background-color: #F5F5F5
		transition: .3s ease
		@include media($min-width: $l)
			transform: scale(0.9)
		@include media($type: mobile)
			margin: 0
			border-radius: 0
			height: 100%
	&__inner
		position: relative
		width: 100%
	&-video, &-image
		max-width: 100%
		.popup-body
			display: flex
			align-items: center
	&__title-wrapper
		display: flex
		align-items: center
		justify-content: space-between
		border-radius: 60px 60px 0 0
		padding: 0 60px
		background-color: #fff
		min-height: 144px
		border-bottom: 2px solid #D7D7D7
		@include media($type: mobile)
			border-radius: 0
			padding: 0 33px
			min-height: 133px

	&__title
		color: #000
		@include font($size: 60, $type:med)
		@include media($type: mobile)
			@include font($size: 40, $type:med)
	&__content
		padding: 40px 60px 60px 60px
		display: flex
		flex-direction: column
		@include media($type: mobile)
			padding-left: 33px
			padding-right: 33px
			padding-top: 40px
	&__close
		cursor: pointer
		path
			transition: .1s
		&:hover
			path
				fill: var(--color-blue)
	&-card
		display: flex
		justify-content: center
		align-items: center
		.popup-body
			background-color: transparent
			max-width: 90%
			max-height: 90%
			@include media($type: mobile)
				max-width: 80%
		video
			max-width: 100%
			max-height: 100%
		.popup__close
			position: absolute
			top: -30px
			right: -30px
			@include media($max-width: $l)
				width: 16px
				height: 16px
				top: -20px
				right: -20px
			path
				fill: #fff
			&:hover
				path
					fill: var(--color-blue)
	&--bg-black
		background-color: rgba(0, 0, 0, 1)
	&--onpage
		background-color: #fff
		transform: none
		@include media($type: mobile)
			border-radius: 60px
		.popup
			&__content
				padding-top: 60px
				@include media($type: mobile)
					padding-top: 40px
			&__content-title
				display: flex
				align-items: flex-start
				justify-content: space-between
				&--bottom
					align-items: center
					justify-content: flex-start
					& > *:nth-child(1)
						margin-right: 70px
				@include media($type: mobile)
					flex-wrap: wrap
			&-request
				&__input-wrapper
					width: 100%
					@include media($type: mobile)
						margin: 10px 0
				&__bottom
					margin-top: 20px
					@include media($type: mobile)
						margin-top: 32px
				&__details
					@include media($type: mobile)
						margin: 10px 0
						textarea
							@include font($size: 16)
.open-popup
	cursor: pointer
