<div class="top-section__sponsors-list">
	<div class="top-section__sponsors-group">
		<ul class="top-section__sponsors">
			@@for (var i = 0; i < images.length; i++) { <li class="top-section__sponsors-item">
				<img src="img/top-section-sponsors/`+images[i].src+`" lt="">
				</li>
				}
		</ul>
	</div>
	<div class="top-section__sponsors-group">
		<ul class="top-section__sponsors">
			@@for (var i = 0; i < images.length; i++) { <li class="top-section__sponsors-item">
				<img src="img/top-section-sponsors/`+images[i].src+`" lt="">
				</li>
				}
		</ul>
	</div>
</div>
