<div class="card-custom card-custom_3col card_show-animate">
	<div class="card-custom-part">
		<span class="card-custom__title">
			Связаться <br> с нами
			<svg class="card-custom__contact-icon" width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle cx="26" cy="26" r="26" fill="#1C54FC" />
				<path fill-rule="evenodd" clip-rule="evenodd"
					d="M33.0164 25.9858C33.0164 28.1918 31.2239 29.9801 29.0127 29.9801H20.0045C19.2024 29.9648 18.4274 30.2705 17.8526 30.8289L15.8508 32.826C15.759 32.921 15.6327 32.975 15.5005 32.9758C15.2241 32.9758 15 32.7523 15 32.4765V19.9943C15 17.7884 16.7925 16 19.0036 16H29.0127C31.2239 16 33.0164 17.7884 33.0164 19.9943V25.9858ZM35.0181 27.983V19.9944C36.1158 20.0053 36.9999 20.8963 36.9999 21.9915V36.5008C36.9999 36.7765 36.7758 37.0001 36.4994 37.0001C36.3672 36.9993 36.2408 36.9453 36.1491 36.8503L34.1473 34.8531C33.5822 34.2887 32.8149 33.9724 32.0153 33.9744H21.0053C19.8997 33.9744 19.0035 33.0802 19.0035 31.9773H31.0144C33.2256 31.9773 35.0181 30.189 35.0181 27.983Z"
					fill="white" />
			</svg>
		</span>
		<a href="#" class="link link-primary">
			Перейти к контактам
		</a>
	</div>
	<div class="card-custom-part">
		<div class="card-custom-part__item">
			<span class="card-custom-part__item-title">Сюда клиентам</span>
			<div class="card-custom-part__item-inner">
				<div class="card-custom-part__item-block">
					<a href="tel:+79657687003">+7 965 768 70 03</a>
				</div>
				<div class="card-custom-part__item-block">
					<a href="mailto:info@setters.me">info@setters.me</a>
				</div>
			</div>
		</div>
		<div class="card-custom-part__item">
			<span class="card-custom-part__item-title">Сюда СМИ и партнёрам</span>
			<div class="card-custom-part__item-inner">
				<div class="card-custom-part__item-block">
					<a href="mailto:lukina@setters.me">lukina@setters.me</a>
					<span>Дарья Лукина, бренд-директор <br> SETTERS Group</span>
				</div>
				<div class="card-custom-part__item-block">
					<a href=" mailto:linnik@setters.me">linnik@setters.me</a>
					<span>
						Яна Линник, бренд-менеджер <br> SETTERS Group
					</span>
				</div>
			</div>
		</div>
		<a href="#" class="link link-primary card__mobile-link">
			Перейти к контактам
		</a>
	</div>
</div>
