<div class="card-custom card-custom_2col">
	<div class="card-custom-part">
		<div class="card-custom__title">
			Говорят, <br> хороших спецов днём с огнём <img class='card-custom__contact-icon card-custom__contact-icon--mobile' src='../../img/icons/team.svg' alt=''> не сыщешь! <img class='card-custom__contact-icon card-custom__contact-icon--desktop' src='../../img/icons/team.svg' alt=''>
		</div>
		<div class="card-custom__text">
			Мы — огонь, время суток — не имеет значение, вакансии — есть! Давайте поработаем?
		</div>
		<a class="card__link link link-primary">Перейти</a>
	</div>
</div>
